.header {
  font-size: 1.1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 5rem;
  background-color: var(--color-primary);
  position: relative;
  color: var(--font-color);

  @include respond(tab-port) {
    flex-direction: column;
  }

  &__icon {
    position: absolute;
    margin-left: auto;
    height: 3rem;
    width: 3rem;
    top: 0.15rem;
    right: 7.5rem;
  }

  &__button {
    position: relative;
    background-color: inherit;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 1.5rem;
    color: var(--font-color);
    transition: transform 0.3s;

    @include respond(tab-port) {
      margin-top: 2rem;
    }

    &:hover {
      transform: scale(1.2);
    }
    &:active {
      transform: scale(1);
    }
  }
}
